Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

no-emojis-in-markdown:
  name: no-emojis-in-markdown
  entry: python .github/scripts/check_no_emoji.py
  language: system
  pass_filenames: false

validate-architecture:
  name: validate-architecture
  entry: python .github/scripts/validate_architecture.py
  language: system
  pass_filenames: false

fix(compose): enable anonymous Grafana and fix infra mounts
  docker-compose.yml
Due: none

chore(frontend): expand operator dashboard index
  app/frontend/src/pages/ops.tsx
Due: none

fix(dashboards): eliminate no-data panels for current metrics
  infra/grafana/dashboards/algorithm_model_comparison.json
  infra/grafana/dashboards/data_sources_health_enhanced.json
  infra/grafana/dashboards/geo_map.json
  infra/grafana/dashboards/public_overview.json
  infra/grafana/dashboards/regional_variance_explorer.json
  infra/grafana/dashboards/risk_regimes.json
  infra/grafana/dashboards/source_health_freshness.json
Due: none

feat(dashboards): expand and harden enterprise analytics visualizations
  app/frontend/e2e/dashboard-data-verification.spec.ts
  infra/grafana/dashboards/anomaly_detection_center.json
  infra/grafana/dashboards/baselines.json
  infra/grafana/dashboards/classical_models.json
  infra/grafana/dashboards/contribution_breakdown.json
  infra/grafana/dashboards/cross_domain_correlation.json
  infra/grafana/dashboards/data_sources_health.json
  infra/grafana/dashboards/forecast_overview.json
  infra/grafana/dashboards/forecast_summary.json
  infra/grafana/dashboards/geo_map.json
  infra/grafana/dashboards/model_performance.json
  infra/grafana/dashboards/regional_comparison.json
  infra/grafana/dashboards/regional_signals.json
  infra/grafana/dashboards/source_health_freshness.json
  infra/grafana/dashboards/subindex_deep_dive.json
Due: none

feat(visualization): implement Sprint 2 advanced visualizations with D3.js
  app/frontend/package-lock.json
  app/frontend/package.json
  app/frontend/src/components/advanced/ConvergenceVortex.tsx
  app/frontend/src/components/advanced/PredictiveHorizonClouds.tsx
  app/frontend/src/pages/advanced-visualizations.tsx
  app/frontend/src/pages/index.tsx
  docs/ADVANCED_VISUALIZATIONS_IMPLEMENTATION.md
Due: no-emojis-in-markdown

feat(data): implement Air Quality data source integration (TICKET-011)
  app/services/ingestion/air_quality.py
  app/services/ingestion/processor.py
  app/services/ingestion/source_registry.py
Due: validate-architecture

docs: add comprehensive progress tracking and implementation summaries
  docs/DATA_EXPANSION_PROGRESS.md
  docs/IMPLEMENTATION_PROGRESS_SUMMARY.md
Due: no-emojis-in-markdown

feat(ui): restructure main page to match requested layout with all dashboards
  app/frontend/src/pages/index.tsx
Due: none

feat(ui): add Forecast Configuration section to main page
  app/frontend/src/pages/index.tsx
Due: none

fix(ui): reorder sections to match user requirements
  app/frontend/src/pages/index.tsx
Due: none

feat(ui): add debug logging to GrafanaDashboardEmbed component
  app/frontend/src/components/GrafanaDashboardEmbed.tsx
Due: none

docs: add troubleshooting guide for main page dashboards
  docs/MAIN_PAGE_DASHBOARD_TROUBLESHOOTING.md
Due: no-emojis-in-markdown

docs: add visualization research and data expansion audit
  docs/DATA_EXPANSION_AUDIT.md
  docs/VISUALIZATION_RESEARCH.md
Due: no-emojis-in-markdown

feat(dashboards): enhance executive overview with trend and contribution analysis
  docs/DASHBOARD_ENHANCEMENT_SUMMARY.md
  infra/grafana/dashboards/forecast_summary.json
Due: no-emojis-in-markdown

docs: add comprehensive enterprise dashboard expansion final report
  docs/ENTERPRISE_DASHBOARD_EXPANSION_FINAL_REPORT.md
Due: no-emojis-in-markdown

feat(dashboards): comprehensive enterprise dashboard expansion
  infra/grafana/dashboards/contribution_breakdown.json
  infra/grafana/dashboards/data_sources_health.json
  infra/grafana/dashboards/forecast_overview.json
  infra/grafana/dashboards/subindex_deep_dive.json
Due: none

docs: add comprehensive dashboard expansion final report
  docs/COMPREHENSIVE_DASHBOARD_EXPANSION_REPORT.md
Due: no-emojis-in-markdown

docs: add executive summary for dashboard expansion initiative
  docs/EXECUTIVE_SUMMARY_DASHBOARD_EXPANSION.md
Due: no-emojis-in-markdown

fix(ui): render all Grafana dashboards on main page and verify visibility
  app/frontend/src/components/GrafanaDashboardEmbed.tsx
  app/frontend/src/pages/index.tsx
  app/frontend/src/utils/dashboardVerification.ts
  docs/DASHBOARD_VISIBILITY_VERIFICATION.md
Due: no-emojis-in-markdown

docs: add final dashboard visibility verification report
  docs/DASHBOARD_VISIBILITY_FINAL_REPORT.md
Due: no-emojis-in-markdown

docs: add next-generation visualization master plan and implementation tickets
  docs/NEXT_GEN_VISUALIZATION_MASTER_PLAN.md
  docs/tickets/TICKET-001-VISUALIZATION-STACK-SETUP.md
  docs/tickets/TICKET-003-COMMAND-CENTER.md
Due: no-emojis-in-markdown

feat(visualization): implement TICKET-001 visualization stack foundation
  app/frontend/package.json
  app/frontend/src/contexts/WebSocketContext.tsx
  app/frontend/src/styles/design-system.ts
  app/frontend/src/utils/visualization-utils.ts
  app/frontend/src/visualizations/base/BaseVisualization.tsx
  app/frontend/src/visualizations/base/types.ts
Due: none

docs: add next-generation visualization status report
  docs/NEXT_GEN_VISUALIZATION_STATUS.md
Due: no-emojis-in-markdown

fix(ui): render all Grafana dashboards on main page and verify visibility
  app/frontend/e2e/main-page-dashboards.spec.ts
  app/frontend/e2e/main-page-dom-verify.spec.ts
Due: none

fix(dashboards): validate and repair Grafana dashboard variable wiring
  app/frontend/src/components/GrafanaDashboardEmbed.tsx
Due: none

fix(ui): use shared GrafanaDashboardEmbed on forecast, playground, live
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
Due: none

fix(infra): set PROMETHEUS_URL for backend metrics population
  docker-compose.yml
  infra/grafana/dashboards/public_overview.json
  infra/grafana/dashboards/source_health_freshness.json
Due: none

Wire hbc_verify_all into CI and document local vs CI behavior
  .github/workflows/ci.yml
  README.md
  docs/HBC_VERIFICATION_CHECKLIST.md
  scripts/hbc_verify_all.sh
Due: no-emojis-in-markdown

Fix frontend ESLint errors so hbc-verify and frontend-lint pass in CI
  app/frontend/.eslintrc.json
  app/frontend/e2e/visual-dashboards.spec.ts
  app/frontend/src/components/advanced/AnomalyDetectionTheater.tsx
  app/frontend/src/components/advanced/BehavioralHeatCartography.tsx
  app/frontend/src/components/advanced/ConvergenceVortex.tsx
  app/frontend/src/components/advanced/ExecutiveNarrativeStreams.tsx
  app/frontend/src/components/advanced/PredictiveHorizonClouds.tsx
  app/frontend/src/components/advanced/TemporalTopologyMap.tsx
  app/frontend/src/components/command-center/CriticalAlertsTicker.tsx
  app/frontend/src/components/command-center/RegionalComparisonMatrix.tsx
  app/frontend/src/contexts/WebSocketContext.tsx
  app/frontend/src/pages/command-center.tsx
  app/frontend/src/utils/dashboardVerification.ts
  app/frontend/src/utils/visualization-utils.ts
  app/frontend/src/visualizations/base/BaseVisualization.tsx
  app/frontend/src/visualizations/base/types.ts
Due: none

Docs: point HBC verification checklist to hbc-verify job and ci.yml
  docs/HBC_VERIFICATION_CHECKLIST.md
Due: no-emojis-in-markdown

Docs: add branch hygiene note to HBC verification checklist
  docs/HBC_VERIFICATION_CHECKLIST.md
Due: no-emojis-in-markdown

Fix isinstance(pd.DataFrame) bug in prediction; set HBC_CI_OFFLINE_DATA for forecast-integrity
  .github/workflows/forecast-integrity.yml
  app/core/prediction.py
Due: validate-architecture

fix(ci): exclude legitimate verify scripts from agent artifact check
  .github/workflows/ci.yml
Due: none

style: fix remaining black formatting issue
  scripts/variance_probe.py
Due: validate-architecture

Path conditions:
  no-emojis-in-markdown: any of: \.(md|markdown|mdown)$
  validate-architecture: any of: \.py$
