Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--check']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--check-only"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: local
    hooks:
      - id: no-emojis-in-markdown
        name: no-emojis-in-markdown
        entry: python .github/scripts/check_no_emoji.py
        language: system
        pass_filenames: false
        types: [markdown]
      - id: enforce-american-spelling
        name: enforce-american-spelling
        entry: python .github/scripts/check_american_spelling.py
        language: system
        pass_filenames: false
        types: [text]
      - id: validate-architecture
        name: validate-architecture
        entry: python .github/scripts/validate_architecture.py
        language: system
        pass_filenames: false
        types: [python]
      - id: conventional-commits
        name: conventional-commits
        entry: python .github/scripts/validate_conventional_commits.py
        language: system
        pass_filenames: false
        stages: [commit-msg]

fix(ci): disable docker e2e and fix formatting issues
  .github/scripts/validate_architecture.py
  .github/scripts/validate_repo_health.py
  .github/workflows/ci.yml
  CONTRIBUTING.md
  test_location_normalization.py
  test_registry.py
Due: no-emojis-in-markdown, validate-architecture

chore: remove prompt artifacts and hardening leftovers
  APPLY_HARDENING.sh
  APPLY_PATCHES.md
  PATCH_001_REMOVE_HARDENING_ARTIFACTS.patch
  PATCH_002_CI_ENHANCED.patch
  PATCH_002_ENHANCED_CI_WORKFLOW.patch
  PATCH_003_PRE_COMMIT_ENHANCEMENT.patch
  PATCH_004_REPRODUCIBLE_BUILD_DOCS.patch
  REPO_RESTRUCTURE_AND_CLEANUP_REPORT.md
  docs/archive/CLEANUP_STATUS.md
  docs/reports/FINAL_HARDENING_REPORT.md
Due: no-emojis-in-markdown

chore(ci): ignore workflow/config-only changes to keep main green
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore(docs): add shields.io badges
  README.md
Due: no-emojis-in-markdown

chore(ci): add coverage reporting via Codecov
  README.md
  codecov.yml
Due: no-emojis-in-markdown

chore(release): add semantic release automation
  .github/workflows/release.yml
  README.md
  pyproject.toml
Due: no-emojis-in-markdown

chore(frontend): harden Next.js TypeScript & ESLint pipeline
  .github/workflows/frontend-lint.yml
  app/frontend/.eslintrc.json
  app/frontend/tsconfig.json
Due: none

chore(security): strengthen backend security scanning
  .github/workflows/security-harden.yml
  README.md
  bandit.yml
Due: no-emojis-in-markdown

chore(ci): reset CI and security badges after PR-only conversion
  app/__init__.py
Due: validate-architecture

chore(ci): force workflow run to reset badges
  app/__init__.py
Due: validate-architecture

fix(ci): correct PR trigger patterns so CI runs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore(security): relax Trivy enforcement to maintain green security badge
  .github/workflows/security-harden.yml
Due: none

fix(ci): fix workflow triggers and security config to make badges green
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/security-harden.yml
  app/__init__.py
Due: validate-architecture

chore(ci): trigger workflows to reset all badges
  app/__init__.py
Due: validate-architecture

chore(ci): force green CI run on main and fix release badge
  app/__init__.py
Due: validate-architecture

chore(ci): force green CI run on main and fix release badge (#30)
  app/__init__.py
Due: validate-architecture

fix(release): correct semantic-release version_toml configuration
  pyproject.toml
Due: none

fix(release): add continue-on-error to prevent blocking main
  .github/workflows/release.yml
Due: none

fix(ci): make main branch fully green - fix all badge failures
  pyproject.toml
Due: none

fix(ci): make main branch fully green - fix all badge failures (#32)
  pyproject.toml
Due: none

fix(release): correct version_toml format and add continue-on-error
  pyproject.toml
Due: none

fix(release): correct version_toml format and add continue-on-error (#33)
  pyproject.toml
Due: none

fix(readme): simplify Gitpod badge text to avoid GitHub parsing issue
  README.md
Due: no-emojis-in-markdown

fix(ci): make main permanently green and stabilize release workflow
  .github/workflows/release.yml
  app/__init__.py
Due: validate-architecture

ci(governance): establish enforceable rules and contracts
  .github/scripts/check_american_spelling.py
  .github/scripts/check_governance.py
  .github/scripts/check_no_emoji.py
  GOVERNANCE_RULES.md
  INVARIANTS.md
  VERIFICATION_COMPLETE.md
  VERSION_CONTRACT_2_5.md
Due: no-emojis-in-markdown, validate-architecture

ci(release): add safeguards to prevent workflow blocking main
  .github/workflows/release.yml
Due: none

chore(repo): remove execution artifacts and normalize structure
  HARDENING_SUMMARY.md
  LEVEL_3_HARDENING_COMPLETE.md
  VERIFICATION_COMPLETE.md
  docs/ACTIVE_ISSUE_AUDIT_AND_FIX_REPORT.md
  docs/GITHUB_CI_REPAIR_AND_GREEN_MAIN_REPORT.md
  docs/PERMANENT_CI_HEALTH_ENFORCEMENT_REPORT.md
  docs/REGION_NORMALIZATION_COMPREHENSIVE_FIX_REPORT.md
  docs/REGION_NORMALIZATION_FIX_REPORT.md
  docs/WORKFLOW_FIX_REPORT.md
Due: no-emojis-in-markdown

docs: improve contributor guidance and clarify project scope
  CONTRIBUTING.md
  README.md
Due: no-emojis-in-markdown

fix(test): remove emojis from test file
  test_location_normalization.py
Due: validate-architecture

docs: update behavior index version to 2.5 to match implementation
  docs/BEHAVIOR_INDEX.md
Due: no-emojis-in-markdown

chore(repo): remove redundant and stale documentation files
  docs/BEHAVIOR_INDEX_CURRENT.md
  docs/BEHAVIOR_SYSTEM_STATUS_V2.md
  docs/PORT_REBIND_VALIDATION.md
  docs/VALIDATION_REPORT.md
  test_registry.py
Due: no-emojis-in-markdown, validate-architecture

docs: remove references to deleted validation and analysis files
  docs/BEHAVIOR_INDEX_ENHANCEMENT_SUMMARY.md
  docs/reports/FINAL_VALIDATION_SUMMARY.md
  docs/reports/README.md
Due: no-emojis-in-markdown

docs: rebuild README to accurately reflect current application state
  README.md
Due: no-emojis-in-markdown

test: add governance invariants test file
  tests/test_governance_invariants.py
Due: validate-architecture

docs: remove reference to non-existent FINAL_HARDENING_REPORT.md
  docs/reports/README.md
Due: no-emojis-in-markdown

docs: update tests README to reflect actual test structure
  tests/README.md
Due: no-emojis-in-markdown
