Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

no-emojis-in-markdown:
  name: no-emojis-in-markdown
  entry: python .github/scripts/check_no_emoji.py
  language: system
  pass_filenames: false

validate-architecture:
  name: validate-architecture
  entry: python .github/scripts/validate_architecture.py
  language: system
  pass_filenames: false

fix: live-select buttons check regions.length and disable until regions loaded
  app/frontend/src/pages/live.tsx
Due: none

fix: live-monitoring test waits for select buttons to be enabled before clicking
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: live-monitoring test waits for button enabled state instead of checkboxes
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: live page regions fetch adds response validation and error clearing
  app/frontend/src/pages/live.tsx
Due: none

fix: live-select buttons remove early return, use sortedRegions check instead
  app/frontend/src/pages/live.tsx
Due: none

fix: live-monitoring test waits for regions API response and validates data before proceeding
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: add CORS origin for frontend port 3003 in E2E workflow
  .github/workflows/e2e-playwright.yml
Due: none

temp: add CORS header verification step
  .github/workflows/e2e-playwright.yml
Due: none

fix: playground test - replace unreliable checkbox filter with explicit isChecked() loop
  app/frontend/e2e/playground.smoke.spec.ts
Due: none

docs: add E2E Playwright testing documentation to README
  README.md
Due: no-emojis-in-markdown

docs: update CI status to reflect green E2E pipeline
  README.md
Due: no-emojis-in-markdown

fix: add missing test_invariant_enforcement.py file to repository
  tests/test_invariant_enforcement.py
Due: validate-architecture

fix: show pytest error output in test discovery step
  .github/workflows/ci.yml
Due: none

fix: remove emoji from README and update CI status to reflect actual state
  README.md
Due: no-emojis-in-markdown

fix: add missing app/core/invariants.py module to repository
  app/core/invariants.py
Due: validate-architecture

fix: remove unused math import from test_invariant_enforcement.py
  tests/test_invariant_enforcement.py
Due: validate-architecture

fix: remove unused EnforcementStrategy import from test_invariant_enforcement.py
  tests/test_invariant_enforcement.py
Due: validate-architecture

fix: remove unused sorted_factors assignment in invariants
  app/core/invariants.py
Due: validate-architecture

fix: apply black formatting to invariants.py and test_invariant_enforcement.py
  app/core/invariants.py
  tests/test_invariant_enforcement.py
Due: validate-architecture

fix: add missing test_contract_enforcement.py file to repository
  tests/test_contract_enforcement.py
Due: validate-architecture

fix: add missing app/core/contracts.py and remove unused pytest import
  app/core/contracts.py
  tests/test_contract_enforcement.py
Due: validate-architecture

fix: remove unused imports and add missing test_version_evolution.py
  app/core/contracts.py
  tests/test_contract_enforcement.py
  tests/test_version_evolution.py
Due: validate-architecture

fix: remove unused imports and variable from test_version_evolution.py
  tests/test_version_evolution.py
Due: validate-architecture

fix: apply Black formatting to contracts.py and test files
  app/core/contracts.py
  tests/test_contract_enforcement.py
  tests/test_version_evolution.py
Due: validate-architecture

fix: add missing app/core/versioning.py module
  app/core/versioning.py
Due: validate-architecture

fix: remove unused registry variable in versioning.py
  app/core/versioning.py
Due: validate-architecture

docs: align CI status section with workflow badges
  README.md
Due: no-emojis-in-markdown

docs: remove emojis from playground verification checklist
  docs/playground-manual-verification-checklist.md
Due: no-emojis-in-markdown

docs: replace em dashes with periods and colons in README
  README.md
Due: no-emojis-in-markdown

docs: replace em dashes with colons in app-plan and DEMO_FEATURES
  docs/DEMO_FEATURES.md
  docs/app-plan.md
Due: no-emojis-in-markdown

docs: remove broken link to missing AI_CODE_REVIEW_GUIDE.md
  docs/EXTENSIBILITY.md
Due: no-emojis-in-markdown

docs: remove broken link to non-existent predictor template repository
  docs/EXTENSIBILITY.md
Due: no-emojis-in-markdown

docs: update LinkedIn links to plain text with verification note
  CONTRIBUTING.md
  README.md
  docs/DATA_SOURCES.md
  docs/ROADMAP.md
Due: no-emojis-in-markdown

ci: remove emoji from forbidden artifacts check output
  .github/workflows/ci.yml
Due: none

ci: extend emoji check to code files
  .github/AUTO_MERGE_SETUP.md
  .github/scripts/check_no_emoji.py
  .github/workflows/ci.yml
  scripts/validate_runtime.py
Due: no-emojis-in-markdown, validate-architecture

ci: add internal markdown link validation
  .github/scripts/validate_docs_links.py
  .github/workflows/ci.yml
Due: validate-architecture

ci: apply Black formatting to validate_docs_links.py
  .github/scripts/validate_docs_links.py
Due: validate-architecture

ci: add external markdown link validation
  .github/scripts/validate_external_links.py
  .github/workflows/ci.yml
Due: validate-architecture

ci: apply Black formatting to validate_external_links.py
  .github/scripts/validate_external_links.py
Due: validate-architecture

feat: fix forecast history storage and retrieval
  app/backend/README.md
  app/backend/app/main.py
  tests/test_forecasting_endpoints.py
Due: no-emojis-in-markdown, validate-architecture

Path conditions:
  no-emojis-in-markdown: any of: \.(md|markdown|mdown)$
  validate-architecture: any of: \.py$
