Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

no-emojis-in-markdown:
  name: no-emojis-in-markdown
  entry: python .github/scripts/check_no_emoji.py
  language: system
  pass_filenames: false

validate-architecture:
  name: validate-architecture
  entry: python .github/scripts/validate_architecture.py
  language: system
  pass_filenames: false

fix: remove broken link to untracked ARCHITECTURE_INVENTORY.md
  README.md
Due: no-emojis-in-markdown

feat: add forecast history UI
  .github/workflows/e2e-playwright.yml
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/history.tsx
  app/frontend/src/pages/index.tsx
Due: none

fix: wait for loading state in history E2E tests
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: use waitForFunction for more robust history page loading check
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: use waitForLoadState for history page readiness
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: add page title check before container check in history test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: add 404 check and improve page load detection in history test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: wait for h1 title instead of unreliable body selector in history test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

test: add better error handling and screenshots for history page test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

test: check h1 immediately after domcontentloaded in history test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: use @/lib/api alias instead of relative import in history page
  app/frontend/src/pages/history.tsx
Due: none

fix: add baseUrl to tsconfig.json for Next.js path alias resolution
  app/frontend/tsconfig.json
Due: none

fix: add webpack alias configuration for @ path in next.config.mjs
  app/frontend/next.config.mjs
Due: none

fix: use relative import for API_BASE in history page to avoid Next.js webpack alias issues
  app/frontend/src/pages/history.tsx
Due: none

fix: use stable testid for history page h1 and wait for container before asserting
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/src/pages/history.tsx
Due: none

fix: render forecast-history-container unconditionally to fix E2E timing issue
  app/frontend/src/pages/history.tsx
Due: none

fix: wait for h1 before waiting for container in history E2E test
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix: use inline API_BASE definition to avoid module resolution issues in CI
  app/frontend/src/pages/history.tsx
Due: none

fix: extract region name from option text to match stored region_name
  app/frontend/e2e/history.smoke.spec.ts
Due: none

feat: harden forecast history UX with empty state, stable selectors, and updated docs
  README.md
  app/backend/README.md
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/src/pages/history.tsx
Due: no-emojis-in-markdown

feat: add filters and sorting to forecast history (F5)
  README.md
  app/backend/README.md
  app/backend/app/routers/forecasting.py
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/src/pages/history.tsx
  app/storage/db.py
Due: no-emojis-in-markdown, validate-architecture

fix: add bandit ignore for validated SQL sort_order
  app/storage/db.py
Due: validate-architecture

fix: move bandit ignore comments to f-string lines
  app/storage/db.py
Due: validate-architecture

feat: add intelligence summary to live monitoring (F6)
  README.md
  app/backend/README.md
  app/core/live_monitor.py
  app/frontend/e2e/live-monitoring.spec.ts
  app/frontend/src/pages/live.tsx
Due: no-emojis-in-markdown, validate-architecture

style: apply black formatting to live_monitor.py
  app/core/live_monitor.py
Due: validate-architecture

feat: add Docker Compose E2E gate (F7)
  .github/workflows/ci.yml
  Dockerfile.frontend
  README.md
  app/backend/README.md
  app/frontend/playwright.config.ts
  docker-compose.yml
Due: no-emojis-in-markdown

fix: clean node_modules before npm ci in docker-e2e job
  .github/workflows/ci.yml
Due: none

fix: improve Docker E2E healthchecks and CORS config
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix(ci): ensure test-results artifact always exists
  .github/workflows/e2e-playwright.yml
Due: none

docs: document E2E Playwright workflow artifact contract
  TESTING_GUIDE.md
Due: no-emojis-in-markdown

ci: trigger CI rerun
  .ci_trigger
Due: none

fix(ci): ensure docker-e2e artifacts upload deterministically
  .github/workflows/ci.yml
Due: none

ci: trigger CI with artifact upload fix
  .ci_trigger
Due: none

fix(ci): emit Playwright failure summary as GitHub annotation
  .github/workflows/ci.yml
Due: none

ci: trigger CI with annotation fix
  .ci_trigger
Due: none

fix(ci): fix YAML syntax in Playwright annotation step
  .github/workflows/ci.yml
Due: none

fix(ci): fix Python command syntax in Playwright annotation step
  .github/workflows/ci.yml
Due: none

ci: trigger CI run for annotation fix
  .ci_trigger
Due: none

fix(docker): use internal network address for frontend API base
  docker-compose.yml
Due: none

Path conditions:
  no-emojis-in-markdown: any of: \.(md|markdown|mdown)$
  validate-architecture: any of: \.py$
