Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--check']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--check-only"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: local
    hooks:
      - id: no-emojis-in-markdown
        name: no-emojis-in-markdown
        entry: python .github/scripts/check_no_emoji.py
        language: system
        pass_filenames: false
        types: [markdown]
      - id: enforce-american-spelling
        name: enforce-american-spelling
        entry: python .github/scripts/check_american_spelling.py
        language: system
        pass_filenames: false
        types: [text]
      - id: validate-architecture
        name: validate-architecture
        entry: python .github/scripts/validate_architecture.py
        language: system
        pass_filenames: false
        types: [python]
      - id: conventional-commits
        name: conventional-commits
        entry: python .github/scripts/validate_conventional_commits.py
        language: system
        pass_filenames: false
        stages: [commit-msg]

revert: restore localhost API base for browser-side code
  docker-compose.yml
Due: none

fix(e2e): add backend readiness gate and failure observability to forecast test
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): wait for select element to exist before checking loading state
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): add browser-side error instrumentation to forecast test
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): fix try-catch block syntax in forecast test
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(ci): extract DOCKER_E2E_DIAGNOSTICS block into annotation summary
  .github/workflows/ci.yml
Due: none

fix(ci): fix YAML syntax in diagnostics extraction
  .github/workflows/ci.yml
Due: none

ci: trigger CI run for diagnostics extraction fix
  .ci_trigger
Due: none

fix(e2e): capture all 404 URLs in diagnostics (not just /api/)
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): improve 404 URL capture with requestfailed handler
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(next): add API rewrite proxy to backend
  app/frontend/next.config.mjs
Due: none

fix(e2e): capture actual 404 URLs in diagnostics output
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): update response handler to use notFoundUrls Set for 404s
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(docker): bind Next.js dev server to 0.0.0.0 for container access
  Dockerfile.frontend
Due: none

fix(docker): set HOSTNAME env var for Next.js to bind to 0.0.0.0
  Dockerfile.frontend
  docker-compose.yml
Due: none

fix(docker): bind Next.js dev server to 0.0.0.0 via package.json script
  Dockerfile.frontend
  app/frontend/package.json
  docker-compose.yml
Due: none

Make GDELT ingestion observable; surface source status in forecast metadata
  app/core/prediction.py
  app/services/ingestion/gdelt_events.py
  tests/test_gdelt_connector.py
Due: validate-architecture

Fix OpenFEMA object-wrapped array parsing
  app/services/ingestion/openfema_emergency_management.py
Due: validate-architecture

docs: record resolution for forecast page regression
  APP_STATUS.md
  docs/RESOLUTION_forecast_page_regression_2026-01-12.md
Due: no-emojis-in-markdown

fix: resolve forecast page regression and restore integrity gates
  .gitignore
  app/core/behavior_index.py
  app/frontend/next.config.mjs
  app/frontend/src/pages/playground.tsx
  app/services/convergence/engine.py
  app/services/forecast/monitor.py
  app/services/ingestion/gdelt_events.py
  app/services/risk/classifier.py
  app/services/shocks/detector.py
Due: validate-architecture

docs: update resolution with correct commit hash
  APP_STATUS.md
  docs/RESOLUTION_forecast_page_regression_2026-01-12.md
Due: no-emojis-in-markdown

fix(frontend): remove unused regionsResponse variable in e2e test
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(core): stabilize state lifetime and reset semantics
  app/core/live_monitor.py
  app/core/prediction.py
  data/hbc.db
Due: validate-architecture

docs: remove emojis from resolution and verification docs
  FINAL_RESOLUTION_SUMMARY.md
  LOCAL_VERIFICATION_CHECKLIST.md
Due: no-emojis-in-markdown

docs(status): update recent changes with state lifetime fixes
  APP_STATUS.md
Due: no-emojis-in-markdown

docs(status): add current capabilities and roadmap snapshot
  APP_STATUS.md
Due: no-emojis-in-markdown

fix(docker): remove --reload flag from backend command
  docker-compose.yml
Due: none

fix(core): harden integrity and CI compatibility
  .github/scripts/check_no_emoji.py
  .github/scripts/validate_docs_links.py
  .github/workflows/ci.yml
  README.md
  app/backend/app/main.py
  app/backend/app/routers/forecasting.py
  app/core/explanations.py
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
  app/frontend/e2e/playground.smoke.spec.ts
  app/frontend/src/pages/audit.tsx
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/policies.tsx
  app/services/calibration/__init__.py
  app/services/calibration/config.py
  app/services/ingestion/__init__.py
  app/services/ingestion/mobility.py
  app/services/ingestion/openfema_emergency_management.py
  app/services/ingestion/public_health.py
  app/services/ingestion/search_trends.py
  app/services/ingestion/source_registry.py
  docs/ENVIRONMENT_VARIABLES.md
  docs/playground-manual-verification-checklist.md
Due: no-emojis-in-markdown, validate-architecture

fix(ingestion): make optional connectors non-blocking for CI startup
  app/services/ingestion/__init__.py
  app/services/ingestion/source_registry.py
Due: validate-architecture

chore(ci): add network marker and update integrity gate for fast tests
  ops/check_integrity.sh
  pyproject.toml
Due: none

docs: remove prompt artifact file from repository
  docs/INTEGRITY_AND_OPS_PROMPT.md
Due: no-emojis-in-markdown

chore: fix pre-commit violations
  .github/scripts/validate_conventional_commits.py
  docs/INTEGRITY_AND_OPS_PROMPT.md
  predictors/registry.py
  tests/test_gdelt_connector.py
Due: no-emojis-in-markdown, validate-architecture

chore(tests): mark network-dependent connector tests
  tests/test_owid_connector.py
  tests/test_usgs_connector.py
Due: validate-architecture

fix(frontend): centralize API calls and improve error handling
  app/frontend/src/lib/api.ts
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
Due: none

fix(frontend): remove unused type imports
  app/frontend/src/lib/api.ts
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
Due: none

fix(frontend): remove unused ForecastRequest import
  app/frontend/src/pages/forecast.tsx
Due: none

fix(frontend): remove unused ForecastRequest interface
  app/frontend/src/pages/forecast.tsx
Due: none

fix(frontend): add ESLint disable for RequestInit type
  app/frontend/src/lib/api.ts
Due: none

feat(ops): add verification scripts for Docker and local dev
  dev-verify.sh
  verify-local.sh
Due: none

fix(backend): enable dev-friendly CORS for all origins and headers
  app/backend/app/main.py
  ops/dev_watch_docker.sh
Due: validate-architecture
