Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

no-emojis-in-markdown:
  name: no-emojis-in-markdown
  entry: python .github/scripts/check_no_emoji.py
  language: system
  pass_filenames: false

validate-architecture:
  name: validate-architecture
  entry: python .github/scripts/validate_architecture.py
  language: system
  pass_filenames: false

fix(frontend): catch network errors in API helper to prevent generic 'Failed to fetch'
  app/frontend/src/lib/api.ts
  app/frontend/src/pages/forecast.tsx
Due: none

test(core): add state lifetime and regions API tests for gates workflow
  tests/test_state_lifetime.py
Due: validate-architecture

chore(checkpoint): grafana integration baseline
  docker-compose.yml
  docs/FRONTEND_DEPRECATION_PLAN.md
  docs/GRAFANA_MIGRATION_STATUS.md
  infrastructure/grafana/dashboards/global_behavior_index.json
  infrastructure/grafana/dashboards/historical_trends.json
  infrastructure/grafana/dashboards/regional_comparison.json
  infrastructure/grafana/dashboards/risk_regimes.json
  infrastructure/grafana/dashboards/subindex_deep_dive.json
Due: no-emojis-in-markdown

fix(grafana): align region wiring and remove hard-coded Minnesota
  infrastructure/grafana/dashboards/global_behavior_index.json
  infrastructure/grafana/dashboards/historical_trends.json
  infrastructure/grafana/dashboards/regional_comparison.json
  infrastructure/grafana/dashboards/subindex_deep_dive.json
Due: none

fix(metrics): enable multi-region support and remove emojis
  app/backend/app/main.py
  app/core/notifications.py
  docker-compose.yml
Due: validate-architecture

chore(docs): remove emojis from tracked markdown files
  APP_STATUS.md
  INVARIANTS.md
Due: no-emojis-in-markdown

feat(grafana): add Quick Summary and Data Sources dashboards with backend metrics
  app/frontend/.eslintignore
  infrastructure/grafana/dashboards/data_sources_health.json
  infrastructure/grafana/dashboards/forecast_summary.json
Due: none

chore: update modified tracked files for Grafana migration
  .gitignore
  GOVERNANCE_RULES.md
  README.md
  app/backend/app/main.py
  app/frontend/src/hooks/useRegions.ts
  app/frontend/src/pages/forecast.tsx
  docker-compose.yml
  infrastructure/grafana/dashboards/global_behavior_index.json
  infrastructure/grafana/dashboards/historical_trends.json
  infrastructure/grafana/dashboards/regional_comparison.json
  infrastructure/grafana/dashboards/subindex_deep_dive.json
  infrastructure/grafana/provisioning/datasources/prometheus.yml
Due: no-emojis-in-markdown, validate-architecture

chore(ci): replace emojis with ASCII text in workflow outputs
  .github/workflows/branch-hygiene.yml
  .github/workflows/gates.yml
  .github/workflows/hygiene-monitor.yml
Due: none

fix(ui): increase Sub-Index Deep Dive dashboard height to 1200px
  app/frontend/src/pages/forecast.tsx
Due: none

fix(ci): make .env optional and exclude ops/ from artifact check
  .github/workflows/ci.yml
  docker-compose.yml
Due: none

fix(ui): increase Sub-Index Deep Dive embed height to 1800px
  app/frontend/src/pages/forecast.tsx
Due: none

fix(ci): add PYTHONPATH to Gates workflow backend tests
  .github/workflows/gates.yml
Due: none

fix(ci): install from pyproject.toml to include all dependencies
  .github/workflows/gates.yml
Due: none

fix(ci): install both pyproject.toml and requirements.txt dependencies
  .github/workflows/gates.yml
Due: none

fix(ci): add pyproject.toml install to E2E workflow
  .github/workflows/e2e-playwright.yml
Due: none

fix(gates): add metrics warm-up before GATE G verification
  .github/workflows/gates.yml
  app/services/ingestion/ci_offline_data.py
  app/services/ingestion/mobility.py
Due: validate-architecture

fix(e2e): add backend warm-up before tests
  .github/workflows/e2e-playwright.yml
Due: none

fix(gates): enable CI offline data mode for Docker Gates metrics
  .github/workflows/gates.yml
  app/services/ingestion/economic_fred.py
  app/services/ingestion/search_trends.py
  docker-compose.yml
Due: validate-architecture

fix(gates): accept empty results for critical regions query in GATE G
  ops/verify_gate_grafana.sh
Due: none

fix(frontend): resolve Next.js API proxy for Docker internal networking
  app/frontend/next.config.mjs
  docker-compose.yml
Due: none

fix(docs): correct markdown anchor for Monitoring section
  docs/DEPLOYMENT_GUIDE.md
Due: no-emojis-in-markdown

fix(ci): enable CI offline data mode in Docker Gates and add missing runbook
  .github/workflows/gates.yml
  app/frontend/next.config.mjs
  docs/runbooks/ALERT_RESPONSE.md
Due: no-emojis-in-markdown

feat(ui): expand dashboard heights and improve section titles
  app/frontend/src/pages/forecast.tsx
Due: none

style(ui): reduce whitespace between dashboard sections
  app/frontend/src/pages/forecast.tsx
Due: none

style(ui): maximize screen real estate with tighter dashboard layout
  app/frontend/src/pages/forecast.tsx
Due: none

fix(e2e): make Playwright tests resilient and UI-focused
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix(tests+lint): resolve all remaining test and lint failures
  app/core/behavior_index.py
  app/core/prediction.py
  app/services/ingestion/economic_fred.py
  docs/GRAFANA_MIGRATION_REPORT.md
  ops/run_forecast_regression.py
  tests/test_early_warning.py
  tests/test_factor_quality_metrics.py
  tests/test_hierarchical_contributions.py
  tests/test_logical_consistency.py
  tests/test_operational.py
  tests/test_provenance.py
  tests/test_state_lifetime.py
Due: no-emojis-in-markdown, validate-architecture

fix(e2e): align Playground smoke test with current UI
  app/frontend/e2e/playground.smoke.spec.ts
Due: none

refactor(ui): tighten Grafana dashboard and frontend layout for dense monitoring console
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
  infrastructure/grafana/dashboards/forecast_summary.json
  infrastructure/grafana/dashboards/global_behavior_index.json
Due: none

fix(ci): remove emojis and apply black formatting
  app/backend/app/main.py
  app/core/behavior_index.py
  app/core/prediction.py
  app/services/ingestion/ci_offline_data.py
  app/services/ingestion/economic_fred.py
  app/services/ingestion/mobility.py
  app/services/ingestion/search_trends.py
  docs/GRAFANA_MIGRATION_REPORT.md
  ops/run_forecast_regression.py
  tests/test_alerting.py
  tests/test_benchmarks.py
  tests/test_deployment.py
  tests/test_early_warning.py
  tests/test_executive_ux.py
  tests/test_explainability.py
  tests/test_explanations.py
  tests/test_factor_quality_metrics.py
  tests/test_hierarchical_contributions.py
  tests/test_logical_consistency.py
  tests/test_narrative_intelligence.py
  tests/test_numerical_stability.py
  tests/test_operational.py
  tests/test_policy.py
  tests/test_policy_preview.py
  tests/test_policy_preview_ux.py
  tests/test_provenance.py
  tests/test_resource_exhaustion.py
  tests/test_scenario_sensitivity.py
  tests/test_state_lifetime.py
  tests/test_temporal_attribution.py
Due: no-emojis-in-markdown, validate-architecture

fix(ci): install package dependencies in Forecast Integrity workflow
  .github/workflows/forecast-integrity.yml
Due: none

fix(gates): move warm-up step before GATE A
  .github/workflows/gates.yml
Due: none

fix(ci): correct SourceStatus instantiation in search_trends offline mode
  .github/workflows/ci.yml
  app/services/ingestion/search_trends.py
Due: validate-architecture

fix(backend): initialize subindices_details_structure before try block
  app/backend/app/main.py
Due: validate-architecture

fix(ci): add CI offline mode to health, weather, and GDELT fetchers
  app/services/ingestion/gdelt_events.py
  app/services/ingestion/public_health.py
  app/services/ingestion/weather.py
Due: validate-architecture

fix(ci): limit search trends CI data to days_back parameter
  app/services/ingestion/search_trends.py
Due: validate-architecture

fix(gates): increase Prometheus scrape wait time to 60 seconds
  .github/workflows/gates.yml
Due: none

Path conditions:
  no-emojis-in-markdown: any of: \.(md|markdown|mdown)$
  validate-architecture: any of: \.py$
