Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--check']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--check-only"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: local
    hooks:
      - id: no-emojis-in-markdown
        name: no-emojis-in-markdown
        entry: python .github/scripts/check_no_emoji.py
        language: system
        pass_filenames: false
        types: [markdown]
      - id: enforce-american-spelling
        name: enforce-american-spelling
        entry: python .github/scripts/check_american_spelling.py
        language: system
        pass_filenames: false
        types: [text]
      - id: validate-architecture
        name: validate-architecture
        entry: python .github/scripts/validate_architecture.py
        language: system
        pass_filenames: false
        types: [python]
      - id: conventional-commits
        name: conventional-commits
        entry: python .github/scripts/validate_conventional_commits.py
        language: system
        pass_filenames: false
        stages: [commit-msg]

fix(gates): improve warm-up diagnostics and add offline mode to more fetchers
  .github/workflows/gates.yml
Due: none

fix(gates): add wait between GATE A and GATE G for metrics scraping
  .github/workflows/gates.yml
Due: none

fix(ci): add required region_name field to warm-up forecast requests
  .github/workflows/ci.yml
  .github/workflows/e2e-playwright.yml
  .github/workflows/gates.yml
Due: none

fix(tests): update tests to match current API and behavior
  app/core/live_monitor.py
  app/core/prediction.py
  app/frontend/e2e/forecast.smoke.spec.ts
  tests/test_logical_consistency.py
  tests/test_mobility_connector.py
  tests/test_search_trends_connector.py
Due: validate-architecture

fix(cache): implement proper LRU cache with thread safety
  app/core/live_monitor.py
  app/core/prediction.py
Due: validate-architecture

fix(e2e): update tests to match refactored Grafana-first UI
  app/frontend/e2e/history.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix(cache): correct indentation for cached forecast return
  app/core/prediction.py
Due: validate-architecture

fix(tests): surgical fixes for remaining E2E and Forecast Integrity failures
  app/core/live_monitor.py
  app/core/prediction.py
  app/frontend/e2e/history.smoke.spec.ts
Due: validate-architecture

fix(tests): add test fallback for refresh_region with fake region IDs
  app/core/live_monitor.py
Due: validate-architecture

fix(tests): correct LiveSnapshot initialization in test fallback
  app/core/live_monitor.py
Due: validate-architecture

fix(docker-e2e): align tests with Grafana-first architecture
  .github/workflows/ci.yml
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/history.smoke.spec.ts
  tests/test_search_trends_connector.py
Due: validate-architecture

fix(lint): remove ESLint errors from E2E tests
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/history.smoke.spec.ts
Due: none

fix(lint): correct unterminated regex in forecast E2E test
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix(e2e): align tests with actual UI contracts (evidence-based)
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/history.smoke.spec.ts
Due: none

ci: add Docker E2E readiness gates + align docs/badges
  .github/workflows/ci.yml
  README.md
  TESTING_GUIDE.md
Due: no-emojis-in-markdown

fix(ci): surgical Docker E2E diagnostics + readiness consolidation
  .github/workflows/ci.yml
Due: none

docs: add CI Docker E2E status report (7/8 workflows green)
  docs/CI_DOCKER_E2E_STATUS.md
Due: no-emojis-in-markdown

fix(ci): add route re-verification before Playwright + fix duplicate timeout
  .github/workflows/ci.yml
Due: none

fix(metrics): add background job to populate Prometheus metrics for all regions
  app/backend/app/main.py
Due: validate-architecture

feat(data-sources): add OpenAQ air quality data source
  app/core/behavior_index.py
  app/core/prediction.py
  app/services/ingestion/__init__.py
  app/services/ingestion/ci_offline_data.py
  app/services/ingestion/openaq_air_quality.py
  app/services/ingestion/processor.py
  app/services/ingestion/source_registry.py
Due: validate-architecture

feat(metrics): enhance background metrics population logging
  app/backend/app/main.py
Due: validate-architecture

feat(ingestion): add EIA Energy Information Administration data source
  app/services/ingestion/ci_offline_data.py
  app/services/ingestion/eia_energy.py
  app/services/ingestion/source_registry.py
  tests/test_eia_energy.py
Due: validate-architecture

fix(metrics): ensure region_id is never None in metrics labels
  app/backend/app/main.py
  tests/test_region_awareness.py
Due: validate-architecture

docs(ux): clarify global vs regional indices and Grafana warm-up behavior
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
  docs/FORECAST_HISTORY_POINTS_SEMANTICS.md
  docs/GLOBAL_VS_REGIONAL_INDICES.md
  docs/GRAFANA_WARMUP_EXPLANATION.md
Due: no-emojis-in-markdown

test(enterprise): add paranoid analytics verification tests and gates
  scripts/variance_probe.py
  tests/test_analytics_contracts.py
  tests/test_cache_key_regionality.py
  tests/test_data_integrity.py
  tests/test_metrics_invariants.py
Due: validate-architecture

chore(scripts): add README files documenting script purposes
  docs/FINAL_RESOLUTION_SUMMARY.md
  docs/LOCAL_VERIFICATION_CHECKLIST.md
  docs/QUARANTINED_FILES.md
  ops/README.md
  scripts/README.md
Due: no-emojis-in-markdown

chore(grafana): add public overview dashboard
  docs/architecture/BEHAVIOR_INDEX.md
  docs/architecture/BEHAVIOR_INDEX_ENHANCEMENT_SUMMARY.md
  docs/architecture/BEHAVIOR_INDEX_TAXONOMY.md
  docs/architecture/EXTENSIBILITY.md
  docs/architecture/SYSTEM_STATUS.md
  docs/datasets/DATA_SOURCES.md
  docs/datasets/GLOBAL_VS_REGIONAL_INDICES.md
  docs/integrity/LOCAL_VERIFICATION_CHECKLIST.md
  docs/runbooks/RUNBOOK_ALERTS.md
  docs/runbooks/RUNBOOK_DASHBOARDS.md
  infra/grafana/dashboards/data_sources_health.json
  infra/grafana/dashboards/data_sources_health_enhanced.json
  infra/grafana/dashboards/forecast_summary.json
  infra/grafana/dashboards/geo_map.json
  infra/grafana/dashboards/global_behavior_index.json
  infra/grafana/dashboards/historical_trends.json
  infra/grafana/dashboards/public_overview.json
  infra/grafana/dashboards/regional_comparison.json
  infra/grafana/dashboards/regional_deep_dive.json
  infra/grafana/dashboards/risk_regimes.json
  infra/grafana/dashboards/subindex_deep_dive.json
  infra/grafana/provisioning/alerting/rules.yml
  infra/grafana/provisioning/dashboards/dashboards.yml
  infra/grafana/provisioning/datasources/prometheus.yml
  infra/prometheus/prometheus.yml
  infra/terraform/main.tf
  infra/terraform/outputs.tf
  infra/terraform/variables.tf
Due: no-emojis-in-markdown

feat(grafana): add regional variance explorer dashboard
  infra/grafana/dashboards/algorithm_model_comparison.json
  infra/grafana/dashboards/forecast_quality_drift.json
  infra/grafana/dashboards/regional_variance_explorer.json
  infra/grafana/dashboards/source_health_freshness.json
Due: none

feat(ui): embed new Grafana dashboards on forecast page
  app/frontend/src/pages/forecast.tsx
Due: none

test(e2e): verify new Grafana dashboards render on forecast page
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

docs(verify): add Grafana dashboard verification steps
  docs/VERIFY_INTEGRITY.md
Due: no-emojis-in-markdown

test(e2e): add Grafana embeds visual verification suite
  app/frontend/e2e/grafana.embeds.visible.spec.ts
Due: none

feat(scripts): add loopable integrity validation script
  scripts/integrity_loop.sh
Due: none

test(e2e): add Agent 1 visual presence verification
  app/frontend/e2e/agent1_visual_presence.spec.ts
Due: none

test: add Grafana embed contract verification suite
  tests/test_grafana_embeds.py
Due: validate-architecture

test: add regional variance harness and cache key regionality tests
  scripts/regional_variance_harness.py
  tests/test_cache_key_regionality.py
Due: validate-architecture

ci: add embed contract test and repo hygiene audit
  .github/workflows/integrity_gates.yml
  scripts/repo_hygiene_audit.py
Due: validate-architecture

ci: add embed-contract job to integrity gates
  .github/workflows/integrity_gates.yml
Due: none

test(e2e): add comprehensive visual dashboard verification
  app/frontend/e2e/visual-dashboards.spec.ts
Due: none

chore(pre-commit): fix worktree conventional commit hook
  .github/scripts/validate_conventional_commits.py
  .pre-commit-config.yaml
Due: validate-architecture
