Repository codethor0/human-behaviour-convergence: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis-in-markdown, validate-architecture

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
        args: ['--check']

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--check-only"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.0
    hooks:
      - id: ruff
        args: ['--fix', '--exit-non-zero-on-fix']

  - repo: local
    hooks:
      - id: no-emojis-in-markdown
        name: no-emojis-in-markdown
        entry: python .github/scripts/check_no_emoji.py
        language: system
        pass_filenames: false
        types: [markdown]
      - id: enforce-american-spelling
        name: enforce-american-spelling
        entry: python .github/scripts/check_american_spelling.py
        language: system
        pass_filenames: false
        types: [text]
      - id: validate-architecture
        name: validate-architecture
        entry: python .github/scripts/validate_architecture.py
        language: system
        pass_filenames: false
        types: [python]
      - id: conventional-commits
        name: conventional-commits
        entry: python .github/scripts/validate_conventional_commits.py
        language: system
        pass_filenames: false
        stages: [commit-msg]

fix(test): include all weights in normalization sum calculation
  tests/test_governance_invariants.py
Due: validate-architecture

chore(config): consolidate gitignore files - remove redundant app-level gitignores
  .github/scripts/run_docker_e2e.sh
  app/backend/.gitignore
  app/frontend/.gitignore
  docker-compose.test.yml
Due: none

chore(config): remove commented docker e2e script reference and update testing inventory
  docs/reports/TESTING_INVENTORY.md
Due: no-emojis-in-markdown

chore(config): update gitignore with consolidated patterns
  .gitignore
Due: none

chore(config): clean up commented docker e2e workflow section
  .github/workflows/ci.yml
Due: none

test: eliminate implementation-coupled tests (TEST QUALITY AUDIT)
  test_location_normalization.py
  tests/test_api_backend.py
  tests/test_behavior_index.py
  tests/test_explanations.py
  tests/test_forecasting.py
  tests/test_intelligence_layer.py
  tests/test_live_monitor.py
  tests/test_no_emoji_script.py
  tests/test_playground.py
  tests/test_visualization_layer.py
Due: validate-architecture

feat: runtime validation infrastructure (ITERATION N+4)
  docs/reports/RUNTIME_SURFACE_INVENTORY.md
  docs/reports/RUNTIME_VALIDATION_STATUS.md
  scripts/validate_runtime.py
Due: no-emojis-in-markdown, validate-architecture

fix: runtime validation boundary test (ITERATION N+5)
  scripts/validate_runtime.py
Due: validate-architecture

docs: add runtime validation execution evidence (ITERATION N+5)
  docs/reports/RUNTIME_VALIDATION_RESULTS.json
  docs/reports/RUNTIME_VALIDATION_SUMMARY.md
Due: no-emojis-in-markdown

feat: error semantics and resilience validation (ITERATION N+6)
  docs/reports/RUNTIME_ERROR_SEMANTICS.json
  docs/reports/RUNTIME_RESILIENCE_SUMMARY.md
  docs/reports/RUNTIME_VALIDATION_RESULTS.json
  scripts/validate_runtime.py
Due: no-emojis-in-markdown, validate-architecture

feat: determinism, chaos, and contract validation (ITERATION N+7)
  docs/reports/RUNTIME_CHAOS_SUMMARY.md
  docs/reports/RUNTIME_CONTRACT_PERMANENCE.json
  docs/reports/RUNTIME_DETERMINISM_REPORT.json
  docs/reports/RUNTIME_VALIDATION_RESULTS.json
  scripts/validate_runtime.py
Due: no-emojis-in-markdown, validate-architecture

feat: state isolation, concurrency, and temporal integrity validation (ITERATION N+8)
  docs/reports/RUNTIME_STATE_ISOLATION_REPORT.json
  docs/reports/RUNTIME_TEMPORAL_INTEGRITY_REPORT.json
  docs/reports/RUNTIME_VALIDATION_RESULTS.json
  scripts/validate_runtime.py
Due: validate-architecture

feat: architecture and diagram truth regeneration (ITERATION N+9)
  README.md
  diagram/behaviour-convergence.mmd
Due: no-emojis-in-markdown

fix: security boundary hardening (ITERATION N+10)
  app/backend/app/main.py
  app/backend/app/routers/live.py
  app/backend/app/routers/playground.py
  app/backend/app/routers/public.py
Due: validate-architecture

feat: abuse and DoS risk inventory and bounds verification (ITERATION N+12)
  tests/test_abuse_bounds.py
Due: validate-architecture

docs: add abuse and DoS risk inventory (ITERATION N+12)
  docs/reports/ABUSE_AND_DOS_RISK_INVENTORY.md
Due: no-emojis-in-markdown

ci: Add E2E Playwright tests and CI gate
  .github/workflows/ci.yml
  .github/workflows/e2e-playwright.yml
  README.md
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/playground.smoke.spec.ts
Due: no-emojis-in-markdown

ci: trigger E2E workflow
  .ci_trigger
  app/frontend/.ci_trigger
Due: none

ci: ensure E2E workflow triggers on push/PR + manual dispatch
  .github/workflows/e2e-playwright.yml
Due: none

ci: fix backend startup with healthcheck polling and backend log artifact
  .github/workflows/e2e-playwright.yml
Due: none

ci: add @playwright/test dependency for E2E tests
  app/frontend/package-lock.json
  app/frontend/package.json
Due: none

ci: fix Playwright browser installation path
  .github/workflows/e2e-playwright.yml
Due: none

ci: remove PLAYWRIGHT_BROWSERS_PATH to use shared browser cache
  .github/workflows/e2e-playwright.yml
Due: none

ci: fix Playwright baseURL, HTML reporter output, and frontend readiness check
  .github/workflows/e2e-playwright.yml
  app/frontend/playwright.config.ts
Due: none

ci: remove reporter override to use config HTML reporter
  .github/workflows/e2e-playwright.yml
Due: none

ci: add discovery proof steps and harden forecast smoke test
  .github/workflows/e2e-playwright.yml
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

ci: add test-results artifact upload
  .github/workflows/e2e-playwright.yml
Due: none

ci: add live-monitoring.spec.ts to git
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

ci: fix E2E tests to wait for regions API before assertions
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
  app/frontend/e2e/playground.smoke.spec.ts
Due: none

ci: fix E2E tests to wait for UI elements instead of network responses
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
  app/frontend/e2e/playground.smoke.spec.ts
Due: none

ci: add data-testid attributes to frontend pages for E2E tests
  app/frontend/src/pages/audit.tsx
  app/frontend/src/pages/forecast.tsx
  app/frontend/src/pages/live.tsx
  app/frontend/src/pages/playground.tsx
  app/frontend/src/pages/policies.tsx
Due: none

ci: make E2E tests more lenient about transient error messages
  app/frontend/e2e/forecast.smoke.spec.ts
  app/frontend/e2e/live-monitoring.spec.ts
  app/frontend/e2e/playground.smoke.spec.ts
Due: none

ci: fix live-monitoring test text assertions to match UI
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

ci: fix forecast test to wait for response completion before checking UI
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

ci: fix forecast test to wait for quick-summary content, not just div
  app/frontend/e2e/forecast.smoke.spec.ts
Due: none

fix: live-monitoring test text assertions to match UI (Selected: N regions)
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: live-monitoring test waits for regions to load before clicking select buttons
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: live-monitoring test waits for React state update after button clicks
  app/frontend/e2e/live-monitoring.spec.ts
Due: none

fix: add type=button to live page control buttons to prevent form submission
  app/frontend/src/pages/live.tsx
Due: none

fix: add type=button to live-refresh button
  app/frontend/src/pages/live.tsx
Due: none
